<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admine pane</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script th:src="@{/js/admin.js}" type="text/javascript"></script>
</head>
<body>
<h3>hello bitches, ama admin!</h3>
<button id="user-list-btn">get users</button>
<br/>
<table id="user-list"></table>
<input id="username-for-action" type="text" placeholder="username">
<br/>
<button id="ban-user">ban this user</button>
<button id="unban-user">unban this user</button>
<button class="add-role" id="admin">make admin</button>
<button class="add-role" id="poster">make poster</button>
</body>
</html>