<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new post</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>


</head>
<body>
<h3>Enter post info here</h3>
<form action="/poster/save" method="post">
    <label for="header">header of the post</label>
    <input type="text" name="header" id="header"/>
    <label for="preview_text">text of the preveiw</label>
    <input type="text" name="preview_text" id="preview_text"/>
    <label for="preview_image">image of thee preview </label>
    <input type="text" name="preview_image" id="preview_image"/>
    <textarea name="content" id="editor"></textarea>
    <button type="submit">save</button>
</form>
<script>
    ClassicEditor.create(document.querySelector('#editor'), {
        ckfinder: {
            uploadUrl: '/poster/save-image'
        }
    }).catch(error => {
        console.error(error);
    });
</script>
</body>
</html>