<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new post</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>


</head>
<body>
<h3>Enter post info here</h3>
<form action="/poster/save" method="post">
    <input type="text" name="header" title="post header"/>
    <textarea name="content" id="editor"></textarea>
    <button type="submit">save</button>
</form>
<script>
    ClassicEditor.create(document.querySelector('#editor'), {
        ckfinder: {
            uploadUrl: '/poster/saveImage'
        }
    }).catch(error => {
        console.error(error);
    });
</script>
</body>
</html>