<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.header}"></title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<h2 th:utext="${post.header}"></h2>
<div th:utext="${post.text}"></div>
<i th:text="${#dates.format(new java.util.Date(post.date), 'dd-MM-yyyy')}"></i>
<hr>
<div id="comments">
    <div id="list">
        <script th:inline="javascript">
            var comments = [[${post.comments}]];
        </script>
    </div>
</div>
<div sec:authorize="isAuthenticated()">
    <input type="text" id="comment">
    <button id="send_comment"> send</button>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(function () {
            $("#send_comment").click(function () {
                $.ajax({
                    method: "post",
                    url: window.location.pathname + "/add-comment",
                    data: $("#comment").val(),
                    success: function (data) {
                        $("#comment").val('')
                        addComment(data)
                    }
                })
            })
        })
    </script>
</div>
<hr>
<div sec:authorize="isAnonymous()">
    <a th:href="@{~/login}"> login</a>
</div>
</body>
<script th:src="@{/js/post.js}" type="text/javascript"></script>
</html>